<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds" debug="false">

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%X{mdc} [%t] %5p: %d %C{1}.%M:%L %t %pfmsg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" additivity="false" level="WARN">
    <appender-ref ref="console"/>
  </logger>

  <root level="WARN">
    <appender-ref ref="console"/>
  </root>
</configuration>
